# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Windows shortcuts
*.lnk


# local ops config
ops/vercel_prod_host.txt
# ops artifacts (do not commit)
ops/pmr_log_*.txt
ops/pmr_dev_stdout_*.txt
ops/pmr_dev_stderr_*.txt
ops/pmr_debug_bundle_*.zip
ops/pmr_bundle_*/
ops/pmr_bak/
ops/pmr_repair_*/
ops/pmr_repair_*.*/
